html{
    box-sizing: border-box;
    height: 100%;
}
*, *::before, *::after{
    box-sizing: inherit;
}

a{
    display: inline-block;
    text-decoration: none;
    color: $color-text;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
}
body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $color-text;
    overflow-x: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-fluid{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
@media (max-width: 720px){
    .container-fluid{
        padding: 0 15px;
    }
}
.title{
    color: $bg;
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 30px;
}
.rate-star{
    display: inline-block;
    margin-right: 10px;
}
.angle-right{
    position: relative;
    padding-left: 15px;
    &::before{
        position: absolute;
        content: "\f105";
        font-family: 'icomoon';
        left: 0;
        color: $green;
        font-size: 14px;
    }
}