html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

a{
    display: inline-block;
    text-decoration: none;
    color: $color-text;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $color-text;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
