@import 'vars';
@import 'global';
@import 'fonts';

// header
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 50px;
    span{
        color: $red;
    }
}
.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-login{
    background-color: $green;
    margin-right: 7px;
}
.header__btn-register, .header__btn-logout{
    background-color: $red;
}
.header__menu{
    background-color: $bg;
}
.menu{
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
           margin-left: 30px; 
        }
    }
    a{
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }
}
.header__btn-menu, .menu__btn{
    display: none;
}
// уведомления
.header_box{
    display: flex;
    align-items: center;
}
.header__circule{
    &.active{
        display: block;
    }
    display: none;
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 50%;
    position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;

    }
    span{
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        right: -7px;
        top: -7px;
        font-size: 11px;
        color: #fff;
    }
}
.notification{
    span{
        background-color: $yellow;
    }
}
.message{
    span{
        background-color: $red;
    }
}
.basket{
    span{
        background-color: $green;
    }
}
.user{
    margin-left: 20px;
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before{
        position: absolute;
        content: "\f107";
        font-family: 'icomoon';
        font-size: 16px;
        color: #707070;
        top: 0;
        right: 0;

    }
    &__inner{
        display: flex;
        align-items: center;
    }
    &__images{
       margin-right: 15px;
       width: 34px;
       height: 34px;
       overflow: hidden;
       border-radius: 50%; 
    }
    &__info{
        line-height: 24px;
        font-size: 14px;
    }
    &__name{
        color: #222222;
        font-weight: 500;
    }
    &__money{
        color: $green;
        font-weight: bold;
    }
}

.header__btn-login--off{
    display: none;
}
.header__btn-logout{
    display: none;
    &.header__btn-login--on{
        display: block;
    }
}

.user__menu{
    // box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
    border: 0px solid rgb(204, 204, 204);
    position: absolute;
    top: 69px;
    left: 20px;
    background-color: #fff;
    padding: 0px 20px;
    width: 158px;
    transition: all .5s;
    height: 0;
    overflow: hidden;
    li{
        display: block;
    }
    a{
        font-size: 12px;
        color: $color-text;
        margin-bottom: 15px;
    }
}
.user__box{
    position: relative;
    height: 90px;
    margin-top: 41px;
    &:hover{
        .user__menu{
            height: auto;
            border-width: 1px;
            padding: 20px;
            overflow: auto;
        }
    }
}
.basket__box, .notification__box, .message__box{
    position: relative;
    height: 90px;
    margin-top: 55px;
    margin-left: 15px;
     &:hover{
         .header__circule::before{
             color: black;
         }
         .circule__menu{
             height: auto;
             overflow: hidden;
         }
         .circule__item{
            border-width: 1px;
            padding: 23px;
         }
     }
}
.circule__menu{
    border: 0px solid rgb(204, 204, 204);
    position: absolute;
    top: 62px;
    right: 0;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    z-index: 1;

}
.circule__item{
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    transition: all .5s;
    padding: 0 23px;
    display: flex;
    align-items: center;
    width: 269px;
    position: relative;
    &::before{
        position: absolute;
        top: 35px;
        right: 28px;
        color: #b0bec5;
        font-size: 16px;
        font-family: 'icomoon';
    }
}
.circule__images{
    margin-right: 15px;
}
.circule__info-name{
    font-size: 15px;
    font-weight: 500;
    color: $bg;
    font-family: 'Roboto';
}
.circule__info-theme{
    font-size: 12px;
    color: $green;
    font-family: 'Roboto';
}
.circule__info-price{
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-family: 'Roboto';
}
.circule__info-date{
    font-size: 10px;
    color: #707070;
}
.notification__menu, .message__menu{
    .circule__images{
        margin-right: 20px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
    .circule__info{
        line-height: 18px;
    }
}
.icon-color::before{
    color: $tomato;
}
.basket__summ{
   padding: 16px 17px 12px;
   background-color: #fff; 
}
.basket__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 22px;
    font-size: 16px;
    color: $bg;
    font-weight: bold;
    margin-bottom: 15px;
}
.basket__btn{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: $green;
    padding: 12px 5px;
    text-align: center;
    width: 100px;

}
.basket__btn-checkout{
    background-color: $red;
    margin-left: 6px;
    width: 123px;
}

// search
.search{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
}
.search__inner{
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title{
        font-size: 48px;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 72px;
    }
    &-text{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 50px;
        line-height: 30px;
    }
    &-form{
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            border-radius: 4px;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding-left: 25px;
                padding-right: 60px;
            &::placeholder{
                color: #90a4ae;
            }
        }
        button{
            position: absolute;
            border: none;
            background-color: transparent;
            right: 18px;
            top: 16px;
            cursor: pointer;
        }
    }
}
// product
.products{
    padding: 110px 0;
    background-color: $gray-bg;
}
.products__inner-btn{
    text-align: center;
    margin-bottom: 60px;
    button{
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: #e74c3c;
            color: #fff;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products__item{
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img{
        min-height: 250px;
        background-image: url('../images/content/product-item-1.jpg');
        background-repeat: no-repeat;
        display: block;
        background-position: center center;
        background-size: cover;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        align-items: center;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name{
        max-width: 310px; 
    }
    &-title{
        font-size: 18px;
        font-weight: 500;
        color: $bg;
        margin-bottom: 5px;
    }
    &-category{
        font-size: 14px;
        font-weight: 500;
        color: $green;
        display: block;
    }
    &-price{
        font-size: 20px;
        font-weight: bold;
        color: $bg;
    }
    &-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
        min-height: 70px;
    }
    &-author{
        display: flex;
        align-items: center;
        max-width: 250px;
        .avatar{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 14px;
        }
        span{
            font-size: 14px;
            font-weight: 500;
        }
    }
    &-star{
        font-size: 12px;
        display: flex;
        align-items: center;
        span{
            color: $bg;
            display: block;
        }
    }
}
.products__bottom-btn{
    text-align: center;
    margin-top: 45px;
    button{
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            background-color: #e74c3c;
            color: #fff;
        }
    }

}

// slider

.product-slider{
    padding: 110px 0 120px;
    .slick-dots{
        text-align: center;
        margin-top: 50px;
        li{
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            &.slick-active{
                button{
                    background-color: rgb(139, 195, 74);
                }
            }
            button{
                border-radius: 50%;
                background-color: rgb(232, 232, 232);
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

// advatages

.advatages{
   background-color: $bg;
   padding: 110px 0; 
}
.advatages__title{
    color: #fff;
}
.advatages__inner{
    display: flex;
    justify-content: space-between;
} 
.advatages__item{
    padding: 0 15px;
    max-width: 370px;
    text-align: center;
    &:hover{
       .advatages__item-images{
           background-color: $green;
           path{
              stroke: #fff;  
           }
       } 
       .advatages__item-title{
            color: $green;
       }
    }
    &-images{
       height: 114px;
       width: 114px;
       background-color: #fff;
       border-radius: 50%;
       display: flex;
       justify-content: center; 
       align-items:center;
       margin: 0 auto;
       margin-bottom: 30px;
       transition: all .3s;
    }
    &-title{
        font-size: 24px;
        color: #fff;
        font-weight: 500;
        margin-bottom: 25px;
        transition: all .3s;
    }
    &-text{
        font-size: 15px;
        color: #b0bec5;
    }
} 

// author
.author{
    background-image: url('../images/author-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__box{
        background-color: $green;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 650px;
        min-height: 215px;
        width: 100%;
    }
    &__title{
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        max-width: 260px;
        margin-right: 45px;
        span{
            font-weight: bold;
        }
    }
    &__link{
        font-size: 18px;
        line-height: 36px;
        color: $bg;
        background-color: #fff;
        padding: 14px 40px;
    }
}
// tutorial
.tutorial{
    padding: 60px 0 120px;
}
.tutorial__inner{
    display: flex;
    justify-content: space-between;
}
.tutorial__item{
    max-width: 370px;
    width: 100%;
    &-images{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 270px;
    }
    &-title{
        font-size: 24px;
        font-weight: bold;
        color: $bg;
        background-color: #f8f8f8;
        text-align: center;
        padding: 30px 10px;
    }
}

// footer

.footer{
   background-color: $bg;
   &__inner{
       display: flex;
       justify-content: space-between;
       padding: 100px 0 80px;
   } 
} 

.footer__copy{
    border-top: 1px solid #919699;
}
.footer__copy-text{
    text-align: center;
    font-size: 15px;
    line-height: 36px;
    color: #919699;
    padding: 25px 0 25px;
}
.footer__col{
    max-width: 270px;
    width: 100%;
    &-menu{
        max-width: 220px;
    }
    &-title{
       font-size: 22px;
       color: #fff;
       font-family: 'Raleway', sans-serif;
       font-weight: bold;
       padding-bottom: 22px;
       margin-bottom: 30px;
       position: relative;
       &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $green;

       }
    }
    &-text{
        font-size: 15px;
        line-height: 24px;
        color: #b7c3c8;
        margin-bottom: 30px;
    }
    &-info{
        margin-top: 10px;
        color: #fff;
        font-weight: 500;
        padding-left: 30px;
        position: relative;
        &::before{
            content: "\f041";
            font-family: 'icomoon';
            color: $green;
            font-size: 18px;
            position: absolute;
            left: 0;
        }
    }
    &-info-phone{
        &::before{
            content: "\f095";
            font-family: 'icomoon';
        }
    }

}
.footer__col-list{
    li{
        display: block;
    }
    a{
        margin-bottom: 13px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;
        &::before{
            content: "\f105";
            font-family: 'icomoon';
            color: $green;
            font-size: 18px;
            position: absolute;
            left: 0;
        }
    }
}
// css sprite
.footer__social-link{
    margin-bottom: 33px;
    li{
        & + li{
            margin-left: 7px;
          } 
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url('../images/css_sprites.png'); 
    }
}
.link-twiter{
    background-position: -28px -0;
}
.link-youtube{
    background-position: -0 -28px;
}
.link-pinterest{
    background-position: -28px -28px;
}
.link-linledlin{
    background-position: -56px -0;
}

.fotter__form-title{
    font-size: 20px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 15px;
}
.fotter__form{
    position: relative;
    input{
        border: none;
        background-color: #2f3c43;
        display: block;
        width: 100%;
        height: 40px;
        font-size: 14px;
        color: #fff;
        padding-left: 13px;
        padding-right: 50px;
        &::placeholder{
            color: #697378;
        }
    }
    button{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $green;
        border: none;
        height: 40px;
        width: 43px;
        cursor: pointer;
        &::before{
            content: "\f124";
            font-family: 'icomoon';
            color: #fff;
            font-size: 20px;
            position: absolute;
            top: 9px;
            left: 14px;
        }
    }
}







// media запросы
@import 'media';

