html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

a{
    color: #000;
    display: inline-block;
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
}
body{
    background-color: rgb(15, 201, 61);
    display: flex;
}
.box{
    margin: 0 auto;
    background-color: rgb(16, 48, 189);
}